General styles
body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 40%;
  padding: 5px; 
  margin-bottom: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Added border radius for button */
}

button:hover {
  background-color: #0056b3;
}

#searchInput {
  margin-bottom: 10px;
  padding: 8px; /* Increased padding for better input appearance */
  border: 1px solid #ccc; /* Added border for search input */
  border-radius: 5px; /* Added border radius for search input */
  box-sizing: border-box; /* Ensures padding and border are included in width */
}

/* Star rating styles */
.rating {
  font-size: 36px;
}

.star {
  cursor: pointer;
  color: #ccc; /* Default star color */
}

.star:hover,
.star.active {
  color: #ffcc00; /* Color for filled star */
}
